# Pre procesamiento de datos

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
datos = pd.read_csv('census_income/census-income.csv')
datos.head(20)

,age,class of worker,detailed industry code,detailed occupation code,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,major occupation code,race,hispanic origin,sex,member of a labor union,reason for unemployment,full or part time employment stat,capital gains,capital losses,dividends from stocks,tax filer stat,region of previous residence,state of previous residence,detailed household and family stat,detailed household summary in household,instance weight,migration code-change in msa,migration code-change in reg,migration code-move within reg,live in this house 1 year ago,migration prev res in sunbelt,num persons worked for employer,family members under 18,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed code,fill inc questionnaire for veteran's admin,veterans benefits code,weeks worked in year,year,taxable income amount,key
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Other Rel 18+ ever marr not in subfamily,Other relative of householder,1700.09,?,?,?,Not in universe under 1 year old,?,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,0,1
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Head of household,South,Arkansas,Householder,Householder,1053.55,MSA to MSA,Same county,Same county,No,Yes,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,2
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,Asian or Pacific Islander,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Child 18+ never marr Not in a subfamily,Child 18 or older,991.95,?,?,?,Not in universe under 1 year old,?,0,Not in universe,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,0,3
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,1758.14,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,0,4
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,1069.16,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,0,5
5,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,Amer Indian Aleut or Eskimo,All other,Female,No,Not in universe,Full-time schedules,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,162.61,?,?,?,Not in universe under 1 year old,?,1,Not in universe,Philippines,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,0,6
6,42,Private,34,3,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,5178,0,0,Joint both under 65,Not in universe,Not in universe,Householder,Householder,1535.86,Nonmover,Nonmover,Nonmover,Yes,Not in universe,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,7
7,28,Private,4,40,High school graduate,0,Not in universe,Never married,Construction,Handlers equip cleaners etc,White,All other,Female,Not in universe,Job loser - on layoff,Unemployed full-time,0,0,0,Single,Not in universe,Not in universe,Secondary individual,Nonrelative of householder,898.83,?,?,?,Not in universe under 1 year old,?,4,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,95,0,8
8,47,Local government,43,26,Some college but no degree,876,Not in universe,Married-civilian spouse present,Education,Adm support including clerical,White,All other,Female,No,Not in universe,Full-time schedules,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,1661.53,?,?,?,Not in universe under 1 year old,?,5,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,0,9
9,34,Private,4,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Joint both under 65,Not in universe,Not in universe,Householder,Householder,1146.79,Nonmover,Nonmover,Nonmover,Yes,Not in universe,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,10
10,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,2466.24,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,0,11
11,32,Not in universe,0,0,High school graduate,0,Not in universe,Never married,Not in universe or children,Not in universe,Black,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Other Rel 18+ never marr not in subfamily,Other relative of householder,2021.27,?,?,?,Not in universe under 1 year old,?,0,Not in universe,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,0,12
12,51,Private,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,White,Do not know,Male,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Joint both under 65,Not in universe,Not in universe,Householder,Householder,2441.22,Nonmover,Nonmover,Nonmover,Yes,Not in universe,3,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,13
13,46,Private,37,31,High school graduate,0,Not in universe,Divorced,Business and repair services,Other service,White,Central or South American,Female,Not in universe,Not in universe,Children or Armed Forces,0,1590,0,Single,Not in universe,Not in universe,Householder,Householder,978.16,Nonmover,Nonmover,Nonmover,Yes,Not in universe,6,Not in universe,Columbia,Columbia,Columbia,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,0,14
14,26,Private,24,12,Bachelors degree(BA AB BS),0,Not in universe,Never married,Manufacturing-nondurable goods,Professional specialty,White,All other,Female,Not in universe,Not in universe,Full-time schedules,0,0,0,Single,Not in universe,Not in universe,Nonfamily householder,Householder,2604.91,?,?,?,Not in universe under 1 year old,?,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,0,15
15,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,Black,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,1520.08,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,0,16
16,47,Private,39,36,Bachelors degree(BA AB BS),0,Not in universe,Never married,Personal services except private HH,Machine operators assmblrs & inspctrs,White,All other,Female,Not in universe,Not in universe,Full-time schedules,0,0,0,Single,Not in universe,Not in universe,Nonfamily householder,Householder,404.90,?,?,?,Not in universe under 1 year old,?,6,Not in universe,Germany,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,0,17
17,39,Not in universe,0,0,10th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,White,Mexican (Mexicano),Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,1274.04,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Not in universe,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,0,94,0,18
18,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,White,Mexican-American,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,1555.29,?,?,?,Not in universe under 1 year old,?,0,Both parents present,United-States,El-Salvador,United-States,Native- Born in the United States,0,Not in universe,2,0,95,0,19
19,35,Private,12,41,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Handlers equip cleaners etc,White,All other,Male,Not in universe,Not in universe,Full-time schedules,0,0,6000,Joint both under 65,Not in universe,Not in universe,Householder,Householder,1790.75,?,?,?,Not in universe under 1 year old,?,4,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,49,95,0,20

## Tipos de variables

In [3]:
COLUMNA_ID = 'key'

COLUMNA_OBJETIVO = "taxable income amount"

PREDICTORES_NUMERICOS = [
  "age",
  "wage per hour",
  "capital gains",
  "capital losses",
  "dividends from stocks",
  "num persons worked for employer",
  "weeks worked in year"
]

VARIABLES_NUMERICAS = [*PREDICTORES_NUMERICOS, "instance weight"]

PREDICTORES_CATEGORICOS = [
  "class of worker",
  "detailed industry code",
  "detailed occupation code",
  "education",
  "enroll in edu inst last wk",
  "marital stat",
  "major industry code",
  "major occupation code",
  "race",
  "hispanic origin",
  "sex",
  "member of a labor union",
  "reason for unemployment",
  "full or part time employment stat",
  "tax filer stat",
  "region of previous residence",
  "state of previous residence",
  "detailed household and family stat",
  "detailed household summary in household",
  "migration code-change in msa",
  "migration code-change in reg",
  "migration code-move within reg",
  "live in this house 1 year ago",
  "migration prev res in sunbelt",
  "family members under 18",
  "country of birth father",
  "country of birth mother",
  "country of birth self",
  "citizenship",
  "own business or self employed code",
  "fill inc questionnaire for veteran's admin",
  "veterans benefits code",
  "year"
]

VARIABLES_CATEGORICAS = [COLUMNA_OBJETIVO, *PREDICTORES_CATEGORICOS]

In [4]:
datos[[COLUMNA_ID, *VARIABLES_NUMERICAS, *VARIABLES_CATEGORICAS]].dtypes

key                                             int64
age                                             int64
wage per hour                                   int64
capital gains                                   int64
capital losses                                  int64
dividends from stocks                           int64
num persons worked for employer                 int64
weeks worked in year                            int64
instance weight                               float64
taxable income amount                           int64
class of worker                                object
detailed industry code                          int64
detailed occupation code                        int64
education                                      object
enroll in edu inst last wk                     object
marital stat                                   object
major industry code                            object
major occupation code                          object
race                                           object
hispanic origin                                object
sex                                            object
member of a labor union                        object
reason for unemployment                        object
full or part time employment stat              object
tax filer stat                                 object
region of previous residence                   object
state of previous residence                    object
detailed household and family stat             object
detailed household summary in household        object
migration code-change in msa                   object
migration code-change in reg                   object
migration code-move within reg                 object
live in this house 1 year ago                  object
migration prev res in sunbelt                  object
family members under 18                        object
country of birth father                        object
country of birth mother                        object
country of birth self                          object
citizenship                                    object
own business or self employed code              int64
fill inc questionnaire for veteran's admin     object
veterans benefits code                          int64
year                                            int64
dtype: object

Note en tabla previa que algunas variables categóricas, por ejemplo
"own business or self employed code" y "veterans benefits code",
figuran de tipo entero.

Antes de continuar la inspección de los datos descargados, asignemos
los tipos de dato correctos a cada variable relevante.

In [5]:
for var_numerica in VARIABLES_NUMERICAS:
  datos[var_numerica] = pd.to_numeric(datos[var_numerica], errors = 'coerce')

for var_categorica in VARIABLES_CATEGORICAS:
  datos[var_categorica] = pd.Categorical(datos[var_categorica])

In [6]:
# Verificamos que los tipos de variable ahora son correctos
datos[[COLUMNA_ID, *VARIABLES_NUMERICAS, *VARIABLES_CATEGORICAS]].dtypes

key                                              int64
age                                              int64
wage per hour                                    int64
capital gains                                    int64
capital losses                                   int64
dividends from stocks                            int64
num persons worked for employer                  int64
weeks worked in year                             int64
instance weight                                float64
taxable income amount                         category
class of worker                               category
detailed industry code                        category
detailed occupation code                      category
education                                     category
enroll in edu inst last wk                    category
marital stat                                  category
major industry code                           category
major occupation code                         category
race                                          category
hispanic origin                               category
sex                                           category
member of a labor union                       category
reason for unemployment                       category
full or part time employment stat             category
tax filer stat                                category
region of previous residence                  category
state of previous residence                   category
detailed household and family stat            category
detailed household summary in household       category
migration code-change in msa                  category
migration code-change in reg                  category
migration code-move within reg                category
live in this house 1 year ago                 category
migration prev res in sunbelt                 category
family members under 18                       category
country of birth father                       category
country of birth mother                       category
country of birth self                         category
citizenship                                   category
own business or self employed code            category
fill inc questionnaire for veteran's admin    category
veterans benefits code                        category
year                                          category
dtype: object

## Observaciones/filas duplicadas

En el archivo 'census_income/census-income.txt' se especifica
que la columna que identifica a cada fila del conjunto de datos
se denomina 'key'.

Inspeccionamos que aquella columna no presente duplicados, pues
eso sugeriría la presencia de observaciones repetidas

In [7]:
# Número de identificadores duplicados
datos[datos[COLUMNA_ID].duplicated()].shape[0]

0

Como no se hallaron duplicados en base a la columna que identifica
cada fila, inspeccionaremos todas las columnas en búsqueda de duplicados

In [8]:
# Número de filas duplicadas
datos[datos.duplicated()].shape[0]

0

**Conclusión**: Los datos no presentan filas duplicadas.

## Valores vacíos/perdidos

In [9]:
# Cantidad de valores perdidos en cada variable numérica
for var_num in VARIABLES_NUMERICAS:
  print(
    var_num, 
    ':\t',
    datos[var_num].isna().sum(),
    sep = ''
  )

age:	0
wage per hour:	0
capital gains:	0
capital losses:	0
dividends from stocks:	0
num persons worked for employer:	0
weeks worked in year:	0
instance weight:	0

**Conclusión**: No existen valores perdidos en ninguna de las variables numéricas.

Note que no debería ser necesario revisar la existencia de valores
perdidos en la columna que identifica cada fila. 
Esto porque las llaves primarias (primary key) no admiten valores perdidos.

No obstante, verificaremos que dicha columna no presenta valores vacíos

In [10]:
# Como la columna identificadora es de tipo número entero,
# contabilizamos vacíos de la misma manera que con los predictores numéricos
pd.to_numeric(datos[COLUMNA_ID], errors = 'coerce').isna().sum()

0

Conclusión: La columna identificadora no presenta valores perdidos.

In [11]:
# Cantidades por variable categórica
for var_cat in VARIABLES_CATEGORICAS:
  print(datos[var_cat].value_counts(), '\n')

taxable income amount
0    187141
1     12382
Name: count, dtype: int64

class of worker
 Not in universe                   100245
 Private                            72028
 Self-employed-not incorporated      8445
 Local government                    7784
 State government                    4227
 Self-employed-incorporated          3265
 Federal government                  2925
 Never worked                         439
 Without pay                          165
Name: count, dtype: int64

detailed industry code
0     100684
33     17070
43      8283
4       5984
42      4683
45      4482
29      4209
37      4022
41      3964
32      3596
35      3380
39      2937
34      2765
44      2549
2       2196
11      1764
50      1704
40      1651
47      1644
38      1629
24      1503
12      1350
19      1346
30      1181
31      1178
25      1084
9        993
22       952
36       945
13       899
1        827
48       652
27       626
49       610
3        563
21       559
6        554
5        553
8        550
16       539
23       525
18       483
15       452
7        422
14       295
46       187
17       157
28       143
26       127
51        36
20        32
10         4
Name: count, dtype: int64

detailed occupation code
0     100684
2       8756
26      7887
19      5413
29      5105
36      4145
34      4025
10      3683
16      3445
23      3392
12      3340
33      3325
3       3195
35      3168
38      3003
31      2699
32      2398
37      2234
8       2151
42      1918
30      1897
24      1847
17      1771
28      1661
41      1592
44      1592
43      1382
4       1364
13      1271
18      1083
39      1017
14       932
5        855
15       815
27       780
25       767
9        738
7        731
11       637
40       617
1        544
21       533
6        441
22       411
45       172
20        71
46        36
Name: count, dtype: int64

education
 High school graduate                      48407
 Children                                  47422
 Some college but no degree                27820
 Bachelors degree(BA AB BS)                19865
 7th and 8th grade                          8007
 10th grade                                 7557
 11th grade                                 6876
 Masters degree(MA MS MEng MEd MSW MBA)     6541
 9th grade                                  6230
 Associates degree-occup /vocational        5358
 Associates degree-academic program         4363
 5th or 6th grade                           3277
 12th grade no diploma                      2126
 1st 2nd 3rd or 4th grade                   1799
 Prof school degree (MD DDS DVM LLB JD)     1793
 Doctorate degree(PhD EdD)                  1263
 Less than 1st grade                         819
Name: count, dtype: int64

enroll in edu inst last wk
 Not in universe          186943
 High school                6892
 College or university      5688
Name: count, dtype: int64

marital stat
 Never married                      86485
 Married-civilian spouse present    84222
 Divorced                           12710
 Widowed                            10463
 Separated                           3460
 Married-spouse absent               1518
 Married-A F spouse present           665
Name: count, dtype: int64

major industry code
 Not in universe or children            100684
 Retail trade                            17070
 Manufacturing-durable goods              9015
 Education                                8283
 Manufacturing-nondurable goods           6897
 Finance insurance and real estate        6145
 Construction                             5984
 Business and repair services             5651
 Medical except hospital                  4683
 Public administration                    4610
 Other professional services              4482
 Transportation                           4209
 Hospital services                        3964
 Wholesale trade                          3596
 Agriculture                              3023
 Personal services except private HH      2937
 Social services                          2549
 Entertainment                            1651
 Communications                           1181
 Utilities and sanitary services          1178
 Private household services                945
 Mining                                    563
 Forestry and fisheries                    187
 Armed Forces                               36
Name: count, dtype: int64

major occupation code
 Not in universe                          100684
 Adm support including clerical            14837
 Professional specialty                    13940
 Executive admin and managerial            12495
 Other service                             12099
 Sales                                     11783
 Precision production craft & repair       10518
 Machine operators assmblrs & inspctrs      6379
 Handlers equip cleaners etc                4127
 Transportation and material moving         4020
 Farming forestry and fishing               3146
 Technicians and related support            3018
 Protective services                        1661
 Private household services                  780
 Armed Forces                                 36
Name: count, dtype: int64

race
 White                          167365
 Black                           20415
 Asian or Pacific Islander        5835
 Other                            3657
 Amer Indian Aleut or Eskimo      2251
Name: count, dtype: int64

hispanic origin
 All other                    171907
 Mexican-American               8079
 Mexican (Mexicano)             7234
 Central or South American      3895
 Puerto Rican                   3313
 Other Spanish                  2485
 Cuban                          1126
 NA                              874
 Do not know                     306
 Chicano                         304
Name: count, dtype: int64

sex
 Female    103984
 Male       95539
Name: count, dtype: int64

member of a labor union
 Not in universe    180459
 No                  16034
 Yes                  3030
Name: count, dtype: int64

reason for unemployment
 Not in universe          193453
 Other job loser            2038
 Re-entrant                 2019
 Job loser - on layoff       976
 Job leaver                  598
 New entrant                 439
Name: count, dtype: int64

full or part time employment stat
 Children or Armed Forces              123769
 Full-time schedules                    40736
 Not in labor force                     26808
 PT for non-econ reasons usually FT      3322
 Unemployed full-time                    2311
 PT for econ reasons usually PT          1209
 Unemployed part- time                    843
 PT for econ reasons usually FT           525
Name: count, dtype: int64

tax filer stat
 Nonfiler                        75094
 Joint both under 65             67383
 Single                          37421
 Joint both 65+                   8332
 Head of household                7426
 Joint one under 65 & one 65+     3867
Name: count, dtype: int64

region of previous residence
 Not in universe    183750
 South                4889
 West                 4074
 Midwest              3575
 Northeast            2705
 Abroad                530
Name: count, dtype: int64

state of previous residence
 Not in universe         183750
 California                1714
 Utah                      1063
 Florida                    849
 North Carolina             812
 ?                          708
 Abroad                     671
 Oklahoma                   626
 Minnesota                  576
 Indiana                    533
 North Dakota               499
 New Mexico                 463
 Michigan                   441
 Alaska                     290
 Kentucky                   244
 Arizona                    243
 New Hampshire              242
 Wyoming                    241
 Colorado                   239
 Oregon                     236
 West Virginia              231
 Georgia                    227
 Montana                    226
 Alabama                    216
 Ohio                       211
 Texas                      209
 Arkansas                   205
 Mississippi                204
 Tennessee                  202
 Pennsylvania               199
 New York                   195
 Louisiana                  192
 Vermont                    191
 Iowa                       189
 Illinois                   180
 Nebraska                   178
 Missouri                   175
 Nevada                     174
 Maine                      167
 Massachusetts              151
 Kansas                     149
 South Dakota               138
 Maryland                   136
 Virginia                   126
 Connecticut                117
 District of Columbia       116
 Wisconsin                  105
 South Carolina              95
 New Jersey                  75
 Delaware                    73
 Idaho                       31
Name: count, dtype: int64

detailed household and family stat
 Householder                                        53248
 Child <18 never marr not in subfamily              50326
 Spouse of householder                              41695
 Nonfamily householder                              22213
 Child 18+ never marr Not in a subfamily            12030
 Secondary individual                                6122
 Other Rel 18+ ever marr not in subfamily            1956
 Grandchild <18 never marr child of subfamily RP     1868
 Other Rel 18+ never marr not in subfamily           1728
 Grandchild <18 never marr not in subfamily          1066
 Child 18+ ever marr Not in a subfamily              1013
 Child under 18 of RP of unrel subfamily              732
 RP of unrelated subfamily                            685
 Child 18+ ever marr RP of subfamily                  671
 Other Rel 18+ ever marr RP of subfamily              656
 Other Rel <18 never marr child of subfamily RP       656
 Other Rel 18+ spouse of subfamily RP                 638
 Child 18+ never marr RP of subfamily                 589
 Other Rel <18 never marr not in subfamily            584
 Grandchild 18+ never marr not in subfamily           375
 In group quarters                                    196
 Child 18+ spouse of subfamily RP                     126
 Other Rel 18+ never marr RP of subfamily              94
 Child <18 never marr RP of subfamily                  80
 Spouse of RP of unrelated subfamily                   52
 Child <18 ever marr not in subfamily                  36
 Grandchild 18+ ever marr not in subfamily             34
 Grandchild 18+ spouse of subfamily RP                 10
 Grandchild 18+ ever marr RP of subfamily               9
 Child <18 ever marr RP of subfamily                    9
 Grandchild 18+ never marr RP of subfamily              6
 Other Rel <18 ever marr RP of subfamily                6
 Other Rel <18 never married RP of subfamily            4
 Other Rel <18 spouse of subfamily RP                   3
 Child <18 spouse of subfamily RP                       2
 Grandchild <18 never marr RP of subfamily              2
 Grandchild <18 ever marr not in subfamily              2
 Other Rel <18 ever marr not in subfamily               1
Name: count, dtype: int64

detailed household summary in household
 Householder                             75475
 Child under 18 never married            50426
 Spouse of householder                   41709
 Child 18 or older                       14430
 Other relative of householder            9703
 Nonrelative of householder               7601
 Group Quarters- Secondary individual      132
 Child under 18 ever married                47
Name: count, dtype: int64

migration code-change in msa
 ?                   99696
 Nonmover            82538
 MSA to MSA          10601
 NonMSA to nonMSA     2811
 Not in universe      1516
 MSA to nonMSA         790
 NonMSA to MSA         615
 Abroad to MSA         453
 Not identifiable      430
 Abroad to nonMSA       73
Name: count, dtype: int64

migration code-change in reg
 ?                                 99696
 Nonmover                          82538
 Same county                        9812
 Different county same state        2797
 Not in universe                    1516
 Different region                   1178
 Different state same division       991
 Abroad                              530
 Different division same region      465
Name: count, dtype: int64

migration code-move within reg
 ?                               99696
 Nonmover                        82538
 Same county                      9812
 Different county same state      2797
 Not in universe                  1516
 Different state in South          973
 Different state in West           679
 Different state in Midwest        551
 Abroad                            530
 Different state in Northeast      431
Name: count, dtype: int64

live in this house 1 year ago
 Not in universe under 1 year old    101212
 Yes                                  82538
 No                                   15773
Name: count, dtype: int64

migration prev res in sunbelt
 ?                  99696
 Not in universe    84054
 No                  9987
 Yes                 5786
Name: count, dtype: int64

family members under 18
 Not in universe           144232
 Both parents present       38983
 Mother only present        12772
 Father only present         1883
 Neither parent present      1653
Name: count, dtype: int64

country of birth father
 United-States                   159163
 Mexico                           10008
 ?                                 6713
 Puerto-Rico                       2680
 Italy                             2212
 Canada                            1380
 Germany                           1356
 Dominican-Republic                1290
 Poland                            1212
 Philippines                       1154
 Cuba                              1125
 El-Salvador                        982
 China                              856
 England                            793
 Columbia                           614
 India                              580
 South Korea                        530
 Ireland                            508
 Jamaica                            463
 Vietnam                            457
 Guatemala                          445
 Japan                              392
 Portugal                           388
 Ecuador                            379
 Haiti                              351
 Greece                             344
 Peru                               335
 Nicaragua                          315
 Hungary                            306
 Scotland                           247
 Iran                               233
 Yugoslavia                         217
 Taiwan                             199
 Cambodia                           196
 Honduras                           194
 France                             191
 Outlying-U S (Guam USVI etc)       159
 Laos                               154
 Trinadad&Tobago                    113
 Thailand                           107
 Hong Kong                          106
 Holand-Netherlands                  51
 Panama                              25
Name: count, dtype: int64

country of birth mother
 United-States                   160479
 Mexico                            9781
 ?                                 6119
 Puerto-Rico                       2473
 Italy                             1844
 Canada                            1451
 Germany                           1382
 Philippines                       1231
 Poland                            1110
 Cuba                              1108
 El-Salvador                       1108
 Dominican-Republic                1103
 England                            903
 China                              760
 Columbia                           612
 South Korea                        609
 Ireland                            599
 India                              581
 Vietnam                            473
 Japan                              469
 Jamaica                            453
 Guatemala                          444
 Ecuador                            375
 Peru                               355
 Haiti                              353
 Portugal                           342
 Nicaragua                          301
 Hungary                            297
 Greece                             261
 Scotland                           241
 Taiwan                             222
 Honduras                           218
 France                             212
 Iran                               198
 Yugoslavia                         177
 Outlying-U S (Guam USVI etc)       157
 Cambodia                           157
 Laos                               155
 Thailand                           123
 Hong Kong                          107
 Trinadad&Tobago                     99
 Holand-Netherlands                  49
 Panama                              32
Name: count, dtype: int64

country of birth self
 United-States                   176989
 Mexico                            5767
 ?                                 3393
 Puerto-Rico                       1400
 Germany                            851
 Philippines                        845
 Cuba                               837
 Canada                             700
 Dominican-Republic                 690
 El-Salvador                        689
 China                              478
 South Korea                        471
 England                            457
 Columbia                           434
 Italy                              419
 India                              408
 Vietnam                            391
 Poland                             381
 Guatemala                          344
 Japan                              339
 Jamaica                            320
 Peru                               268
 Ecuador                            258
 Haiti                              228
 Nicaragua                          218
 Taiwan                             201
 Portugal                           174
 Iran                               157
 Greece                             147
 Honduras                           144
 Ireland                            135
 France                             121
 Outlying-U S (Guam USVI etc)       119
 Thailand                           113
 Laos                               105
 Hong Kong                          100
 Cambodia                            95
 Hungary                             79
 Scotland                            75
 Trinadad&Tobago                     66
 Yugoslavia                          66
 Panama                              28
 Holand-Netherlands                  23
Name: count, dtype: int64

citizenship
 Native- Born in the United States              176992
 Foreign born- Not a citizen of U S              13401
 Foreign born- U S citizen by naturalization      5855
 Native- Born abroad of American Parent(s)        1756
 Native- Born in Puerto Rico or U S Outlying      1519
Name: count, dtype: int64

own business or self employed code
0    180672
2     16153
1      2698
Name: count, dtype: int64

fill inc questionnaire for veteran's admin
 Not in universe    197539
 No                   1593
 Yes                   391
Name: count, dtype: int64

veterans benefits code
2    150130
0     47409
1      1984
Name: count, dtype: int64

year
94    99827
95    99696
Name: count, dtype: int64

In [12]:
# Cantidad de valores vacíos en las columnas asociadas
# a las variables categóricas
datos[VARIABLES_CATEGORICAS].isna().sum().sum()

0

Note que, tal como se especificó en el archivo 'census+income/adult.names',
los valores perdidos han sido reeemplazados por '?' .

Asimismo, en varias variables categóricas se tiene el valor "Not in universe".
Tal valor se refiere a que la columna en cuestión 
[no se aplica](https://forum.ipums.org/t/dhs-datasets-not-in-universe-and-missing-values/2575)
para aquella persona/observación.

A continuación, contabilizaremos la cantidad de valores perdidos en las 
variables categóricas, contando las observaciones de la forma '?' .

In [13]:
vacios = (datos[VARIABLES_CATEGORICAS]
  .apply(
    lambda var_cat: var_cat
      # Remover espacio en blanco antes de revisar igualdad con '?',
      # en caso por error se haya registrado algún valor, por ejemplo,
      # como '? ', ' ? ', etc.
      .apply(lambda cat: str(cat).replace(' ', '') == '?')
      .sum(),
    axis = 0
  )
  .to_frame()
  .sort_values(0, ascending = False)
  .set_axis(['Vacíos (cantidad)'], axis = 'columns')
)
vacios['Vacíos (porcentaje)'] = round(100 * vacios['Vacíos (cantidad)'] / datos.shape[0], 2)
vacios

,Vacíos (cantidad),Vacíos (porcentaje)
migration code-change in msa,99696,49.97
migration code-change in reg,99696,49.97
migration code-move within reg,99696,49.97
migration prev res in sunbelt,99696,49.97
country of birth father,6713,3.36
country of birth mother,6119,3.07
country of birth self,3393,1.70
state of previous residence,708,0.35
class of worker,0,0.00
family members under 18,0,0.00
citizenship,0,0.00
live in this house 1 year ago,0,0.00
own business or self employed code,0,0.00
fill inc questionnaire for veteran's admin,0,0.00
veterans benefits code,0,0.00
detailed household summary in household,0,0.00
detailed household and family stat,0,0.00
taxable income amount,0,0.00
region of previous residence,0,0.00
tax filer stat,0,0.00
full or part time employment stat,0,0.00
reason for unemployment,0,0.00
member of a labor union,0,0.00
sex,0,0.00
hispanic origin,0,0.00
race,0,0.00
major occupation code,0,0.00
major industry code,0,0.00
marital stat,0,0.00
enroll in edu inst last wk,0,0.00
education,0,0.00
detailed occupation code,0,0.00
detailed industry code,0,0.00
year,0,0.00

Note en la tabla previa, que cuatro columnas (
"migration code-change in msa", "migration code-change in reg", 
"migration code-move within reg" y "migration prev res in sunbelt"
) presentan alrededor de 50% de datos vacíos.
Como tal porcentaje es tan alto, esto sugiere no descartar las filas
donde alguna de esas cuatro columnas no presenta datos, sino, preservar
la transformación de los datos categóricos vacíos en una categoría
nueva, representada por '?'.

Por otro lado, el resto de columnas posee un porcentaje de vacíos
menor a 3.5%. Aquel porcentaje es tan bajo, que, como la cantidad de
filas es significativa (aproximadamente 200 mil), podemos considerar
descartar las filas en las que alguna de esas columnas no presenta datos
(es decir, es de la forma '?').

## Conclusión

Preservaremos los valores perdidos (presentes solo en variables
categóricas) vía su respresentación '?', como si se tratase de una categoría aparte.

Después de analizar y visualizar los predictores, decidiremos qué tipo de 
transformaciones extra realizaremos a los datos, antes de su uso en el modelamiento predictivo.