In [ ]:
#!pip install -r requirements.txt

In [1]:
from src.pre_procesamiento.transformar_datos_para_modelos import (
  filtrar_datos_train_test_para_modelos,
  VARS_CATEGORICAS
)

import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

In [2]:
datos_train, datos_test = filtrar_datos_train_test_para_modelos()
datos = pd.concat([datos_train, datos_test], ignore_index = True)
datos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
45218,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
45219,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
45220,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
45221,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [3]:
# Transformar las variables categÃ³ricas via one-hot encoding,
# pero descartando cada columna extra creada .
datos_encoded = pd.get_dummies(
  datos, 
  columns = VARS_CATEGORICAS,
  drop_first = True,
  dtype = 'int64'
)
datos_encoded

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,class_>50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,245211,13,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
45218,39,215419,13,0,0,36,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
45219,38,374983,13,0,0,50,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
45220,44,83891,13,5455,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
45221,35,182148,13,0,0,60,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [4]:
datos_train_encoded = datos_encoded.iloc[0:datos_train.shape[0]]
datos_test_encoded = datos_encoded.iloc[datos_train.shape[0]:]

datos_train_encoded

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,class_>50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,257302,12,0,0,38,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
30158,40,154374,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
30159,58,151910,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
30160,22,201490,9,0,0,20,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
30161,52,287927,9,15024,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [5]:
nombre_variable_target = 'class_>50K'

X_train, X_test, y_train, y_test = [
  datos_train_encoded.drop([nombre_variable_target], axis = 1).values,
  datos_test_encoded.drop([nombre_variable_target], axis = 1).values,
  datos_train_encoded[nombre_variable_target],
  datos_test_encoded[nombre_variable_target]
]

In [6]:
modelo = LogisticRegression().fit(X_train, y_train)
print(f'Exactitud del modelo: {round(100 * modelo.score(X_test, y_test), 2)}%')

Exactitud del modelo: 79.27%

In [7]:
"""
Comparemos la exactitud del modelo si transformamos los 
predictores numÃ©ricos via Z-score
"""
estandarizador = StandardScaler()
X_train_std = estandarizador.fit_transform(X_train)
X_test_std = estandarizador.transform(X_test)

modelo = LogisticRegression().fit(X_train_std, y_train)
print(f'Exactitud del modelo tras estandarizaciÃ³n vÃ­a Z-score: {round(100 * modelo.score(X_test_std, y_test), 2)}%')

print('\nCantidades en la variable por predecir:')
print(y_test.value_counts())

# MatrÃ­z de confusiÃ³n
confusion_matrix(y_test, modelo.predict(X_test_std), labels = [1, 0])

Exactitud del modelo tras estandarizaciÃ³n vÃ­a Z-score: 84.76%

Cantidades en la variable por predecir:
class_>50K
0    11360
1     3700
Name: count, dtype: int64

array([[ 2235,  1465],
       [  830, 10530]], dtype=int64)

In [8]:
"""
Comparar quÃ© predictores tienen mayor efecto sobre 
la variable objetivo, 'class_>50K'
"""
importance_df_scaled = pd.DataFrame({
  'Predictor': datos_train_encoded.columns.difference([nombre_variable_target]),
  # Coeficientes estandarizados
  'Coeficiente': modelo.coef_[0]
})
importance_df_scaled = (importance_df_scaled
  .assign(abs_coef = lambda d: d['Coeficiente'].abs())
  .sort_values(by = 'abs_coef', ascending = False)
  .loc[:, ['Predictor', 'Coeficiente']]
)

importance_df_scaled.head(10)

                            Predictor  Coeficiente
3                       education-num     2.372220
28               native-country_China     1.029517
2                        capital-loss     0.528859
24       marital-status_Never-married    -0.438739
55         native-country_Philippines     0.404105
5                      education_12th     0.353075
0                                 age     0.334646
50                native-country_Laos     0.284317
40  native-country_Holand-Netherlands    -0.279293
9                       education_9th    -0.273876